.custom-card {
    display: flex;
    width: 40rem;
    border-radius: 0 !important;
  }
  
.custom-card-title {
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 5px;
}

.custom-card-text {
    min-height: 60px;
    padding-left: 10px;
    padding-top: 10px;
}