.App-header {
  /* background-color: #282c34; */
  background-color: #fafafa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}